/*-----------------------------------*/
/*--- IMPORT STYLES FOR FASTPAGES ---*/
@import "minima/fastpages-styles";   



/*-----------------------------------*/
/*----- ADD YOUR STYLES BELOW -------*/

body {
   background-color: white;
}

.post-content p, .post-content li {
   color: #1f1f1f;
}

.post-content pre, .post-content code {
	background-color: #ffe1e31f;
}

.post-content code {
	padding: 0px 1px;
}

// If you want to turn off dark background for syntax highlighting, comment or delete the below line.
//@import "minima/fastpages-dracula-highlight"; 
